.profilePageBg {
  top: 0;
  // left: 0; 
  width: 100%;
  height: 200px; /* Fixed height of 300px */
  background-image: url('../../../public/profile_ellipse_v2.svg');
  background-size: 100% 100%; /* Stretch background to fill the width and height without maintaining aspect ratio */
  background-repeat: no-repeat; /* Prevent repeating */
  background-position: top center; /* Position at the top and center horizontally */
  z-index: -1; /* Place it behind other content */
}

.centerContainer {
  display: flex;
  justify-content: center; /* Center horizontally */
  margin-top: 0px; /* Fixed distance from the top */
  margin-bottom:10px;
}

.profilePic{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 2px 2px 2px grey;
}

.accountName{
  font-size: 20px;
  // font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.householdMemberTableRow {
  border-bottom: 1px solid #ccc; /* Adds a line under each row */
  border-top: 1px solid #ccc; /* Adds a line under each row */
  height: 20px; /* Set the height of each row */
}

.householdMemberTable{
  width:100%; /* Set the width of the table */
  border-bottom: 1px solid #ccc; /* Adds a line under each row */
  border-top: 1px solid #ccc; /* Adds a line under each row */
}

.chevron{
color: #999;
}