.householdMemberTableRow {
    border-bottom: 1px solid #ccc; /* Adds a line under each row */
    border-top: 1px solid #ccc; /* Adds a line under each row */
    height: 20px; /* Set the height of each row */
  }

.householdMemberTable{
    width:100%; /* Set the width of the table */
    border-bottom: 1px solid #ccc; /* Adds a line under each row */
    border-top: 1px solid #ccc; /* Adds a line under each row */
}

.chevron{
  color: #999;
}