// @import "../../../node_modules/bootstrap/scss/functions";
// @import "../../../node_modules/bootstrap/scss/variables";

.HouseholdSelector {
    background-color: transparent;
    border: none;
    // width:
    margin:0px;
    padding:1px 1px 5px 1px  ; // top, right, bottom, left
  }

  .HouseholdSingle {
    color: Black;
    margin:0px;
    padding:0px 0px 5px 0px
  }