// @import "../../../node_modules/bootstrap/scss/functions";
// @import "../../../node_modules/bootstrap/scss/variables";

.HouseholdSelector {
    background-color: transparent;
    border: none;
    // width:150x;
    margin:0px;
    padding:0px 0px 5px 0px  ; // top, right, bottom, left
    // outline:none;

  }

  .HouseholdSingle {
    color: Black;
    margin:0px;
    padding:0px 0px 5px 0px
  }