// @import "../../../node_modules/bootstrap/scss/functions";
// @import "../../../node_modules/bootstrap/scss/variables";

.HouseholdSelector {
    background-color:rgba(255, 255, 255, 0.5); 
    border: none;
    width: 190px;
    margin:0px;
    border-radius:5px;
    padding:0px 5px 0px 5px  ; // top, right, bottom, left
  }

  .HouseholdSingle {
    background-color:rgba(255, 255, 255, 0.5); 
    border: none;
    width: 190px;
    margin:0px;
    color: black;
    border-radius:5px;
    padding:0px 5px 0px 5px  ; // top, right, bottom, left
  }