.dropdownButton{
    background-color: transparent !important;
    border-color: transparent !important;

    &:hover,
    &:focus,
    &:active,
    &:focus-visible,
    &.active,
    &:disabled {
        background-color: transparent !important;
        border-color: transparent !important;
        box-shadow: none !important;
    }   
}