@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";

.header {
    min-height: 60px;
    color: $blue-700;
    // background-color: $gray-200;
    background-image: linear-gradient(to bottom right, #084298, #6685D6);
  }

.dropdownFullscreen {
  border: none;
}

.selectorSpacer {
  width: 56px;
}

.brandIcon {
  width: 20px;
  color: white;
}

.brandText {
  color: white;
}