@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";

.header {
    min-height: 60px;
    color: $blue-700;
    background-color: $gray-200;
  }

.dropdownFullscreen {
  border: none;
}

.selectorSpacer {
  width: 33px;
}

.iconWidth {
  width: 20px;
}